/* Defaults */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    color:white;
    background-image: url(/images/animated\ laptop_1.jpg);
    background-position: center;
    background-size: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width:100%;
    margin:auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.row{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


/* Nav Bar */
nav{
    margin: 0;
    width:100%;
}

ul{
    margin: 0;
    padding: 0;
}

ul.topnav li{
   float: left;
   list-style: none;
}

ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    padding: 15px;
}

ul.topnav li a:hover{
    background-color:  #66caff;
    color: black;
    padding: 15px;
}

ul.topnav li.dropdownIcon{
    display:none;
}

/* Custom Styles */
div.leftSide-col{
    margin-left: 10%;
}

div.rightSide-col{
    margin-left: 10%;
}

h1.head{
    color: white;
    text-shadow: 2px 2px 2px  black;
}

p.para{
    color: white;
    line-height: 1.6rem;
    font-size: larger;
    text-align: justify;
}

/* Excel your way to the top */
h1.section2Header{
    text-align: center;
    margin: 10px;
    text-shadow:2px 2px 2px black;
}

div.box{
    padding: 10px;
    text-align: center;
    margin: 20px;
    background-color: whitesmoke;
}

div.icon{
    width: 100%;
}

label{
    font-size: larger;
    color: black;
    font-weight: bold;
}

p{
    font-size: medium;
    line-height: 1.2;
    color: black;
}

.col-12 a{
    text-decoration: none;
}

button{
    font-size: larger;
    color: white;
    display: block;
    padding: 10px 20px;
    margin: 9px;
    border-radius: 50px;
    background-color: #1979ff;
}

button.learnMore{
    display: block;
    margin: auto;
}

/* Getting Started */
div.program{
    padding: 20px;
}

div.program img{
    margin: 10px;
    width: 70%;
}

article h1{
    color: white;
    text-decoration: underline;
    margin: 5px;
    font-size: 30px;
    padding: 20px;
}

article p{
    color: white;
    margin: 5px;
    font-size: larger;
    display: block;
    text-align: justify;
    padding: 20px;
    line-height: 30px;
}

article a{
    color: yellow;
    font-weight: bold;
}


/* Input */
/* input[type="text"]{
    font-size: 15px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
}

input[type="password"]{
    font-size: 15px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
}

input[type="submit"]{
    font-size: 15px;
    width: 400px;
    padding: 6px;
    border-radius: 10px;
    background-color: lightgray;
    font-weight: bold;
}

input[type="submit"]:hover{
    background-color: greenyellow;
} */

/* footer */
footer{
    background-image: url(/images/white\ plain\ bcg.jpg);
    color: black;
    padding-left:10%;
    padding-bottom: 20px;
}

footer h1{
    font-size: 15px;
}

footer ul{
    list-style: none;
    white-space: nowrap;
}

footer li{
    line-height: 30px;
    color: blue;
    text-decoration: underline;
}

footer div.col-3{
    font-size: small;
}

/* Mobile Resolution */
@media screen and (max-width:1000px){
    nav{
        padding: 0%;
    }
    
    ul.topnav li:not(:nth-child(1)){
        display:none;
    }

    ul.topnav li.dropdownIcon{
        display:block;
        float:right;
    }

    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive{
        position: relative;
    }

    ul.topnav.responsive li{
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }

    .col-6,
    .col-4,
    .col-5,
    .col-7{
        width:100%;
        margin:10px;
    }
 
    .col-3{
        width: 50%;
        text-align: center;
    }

    article p{
        color: white;
        font-size: 15px;
    }

    article h1{
        color: white;
        font-size: 20px;
    }

    p.para{
        color: white;
        line-height: 1.6rem;
        font-size: 15px;
        text-align: justify;
    }

    div.leftSide-col,
    div.rightSide-col{
        margin: 15px;
    }
/* 
    input[type="text"]{
        width: 300px;
    }

    input[type="password"]{
        width: 300px;
    }
    
    input[type="submit"]{
        width: 300px;
    } */
    
    .videoContainer iframe{
        width:100%;
    }

    .row{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
    }

    body{
        font-size: 15px;
        margin: 0;
    }

}






